public/modules/core/views/home.client.view.html
<section><div class="jumbotron"><h1>Zayo Dev Summit Demo</h1><p>Aenean faucibus lorem vitae ornare tempus. Etiam egestas hendrerit risus, at blandit neque.</p><p><a class="btn btn-primary btn-large"><i class="fa fa-rocket"></i>Learn more &#187;</a></p></div><div class="row"><div class="col-lg-12"><p>Maecenas vehicula molestie ipsum, id lacinia nibh iaculis sit amet. Sed cursus, nibh sit amet placerat bibendum, nisl felis consectetur massa, nec facilisis mauris eros sit amet nulla. Fusce vel ultricies mi, in viverra elit. Cras fringilla pulvinar est vitae mollis. Morbi facilisis nisi ut pellentesque consectetur. Nulla facilisi. Nunc urna velit, luctus et libero ac, ultrices tempor arcu. Integer ac nunc vestibulum, porttitor augue pretium, varius dui. Nulla fringilla sem ut convallis ullamcorper. Integer molestie, nisi non lacinia scelerisque, erat tortor imperdiet magna, nec tincidunt lorem risus et erat. Proin tristique metus eu lectus venenatis, nec euismod est tristique. Sed venenatis ullamcorper sapien, vestibulum facilisis lacus lacinia sit amet.</p></div></div></section>

public/modules/core/views/home.client.view.haml
%section
  .jumbotron
    %h1 Zayo Dev Summit Demo W00T!
    %p Aenean faucibus lorem vitae ornare tempus. Etiam egestas hendrerit risus, at blandit neque.
    %p
      %a.btn.btn-primary.btn-large
        %i.fa.fa-rocket>
        \&nbsp;Learn more &raquo;
  .row
    .col-lg-12
      %p Maecenas vehicula molestie ipsum, id lacinia nibh iaculis sit amet. Sed cursus, nibh sit amet placerat bibendum, nisl felis consectetur massa, nec facilisis mauris eros sit amet nulla. Fusce vel ultricies mi, in viverra elit. Cras fringilla pulvinar est vitae mollis. Morbi facilisis nisi ut pellentesque consectetur. Nulla facilisi. Nunc urna velit, luctus et libero ac, ultrices tempor arcu. Integer ac nunc vestibulum, porttitor augue pretium, varius dui. Nulla fringilla sem ut convallis ullamcorper. Integer molestie, nisi non lacinia scelerisque, erat tortor imperdiet magna, nec tincidunt lorem risus et erat. Proin tristique metus eu lectus venenatis, nec euismod est tristique. Sed venenatis ullamcorper sapien, vestibulum facilisis lacus lacinia sit amet.
